# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Visual Studio / VS Code
.vs/
.vscode/

# Jupyter Notebook checkpoints (если будут)
.ipynb_checkpoints/

# Data / Output (по желанию)
*.csv
*.log
